body {
  overflow-x: hidden;
  width: 100vw;
}

.nav-bar {
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}
.navbrand {
  color: #007bff !important;
}

.qr-title {
  color: #faafa2;
  margin-top: 40px;
  margin-bottom: 40px;
}
.qr-title > p {
  display: inline;
  font-size: 20px;
}
a {
  color: #f1f1f1 !important;
}
a:hover {
  color: #007bff !important;
}
.input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#about {
  margin-top: 20px;
  position: absolute;
  width: 100%;
  background-color: #faafa2;
  color: white;
}

#about > h5 {
  text-align: center;
  padding: 20px;
}
.social {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}
.social > a {
  text-decoration: none;
}

.navitem {
  color: #007bff !important;
}
.navitem :hover {
  color: #faafa2 !important;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 8px;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #faafa2;
}

::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
